$primary: #0ae8ca;
$dark-1: #2d2d2d;
$dark-2: #202020;
$dark-3: #131313;
$dark-4: #000000;
$light-1: #ffffff;
$light-2: #f9f9f9;
$light-3: #ececec;
$light-4: #dfdfdf;
$danger: #dc3545;

*,
*::before,
*::after {
  box-sizing: border-box;
}

// fonts
@font-face {
  font-family: CascadiaCode;
  src: url("../fonts/CascadiaCode.ttf");
}

// scrollbar
::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}

body {
  background: $light-2;
  color: $dark-3;
  font-family: CascadiaCode;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  p,
  figure {
    margin: 0;
  }
  .header-space {
    margin-top: clamp(16px, 1.6vw, 32px);
  }
}

// header
header {
  background-color: $light-3;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  // margin-bottom: 32px;
  span {
    cursor: pointer;
    &:hover,
    &:focus {
      color: $primary;
    }
  }
}

// button
.btn-v1 {
  background-color: $primary;
  color: $dark-3;
  border: none;
  height: 40px;
  min-width: 100px;
  padding: 0 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s,
    box-shadow 0.5s, transform 0.5s;
  outline: none;

  &:hover,
  &:focus {
    box-shadow: 2.5px 2.5px rgba($dark-2, 1);
  }

  &.inactive {
    background-color: $light-3;
    &:hover {
      background-color: $primary;
    }
  }

  &.disabled {
    background-color: $dark-1;
    color: $light-4;
    cursor: default;
    pointer-events: none;
  }
}

// post card
.post-card {
  background-color: $light-3;
  cursor: pointer;
  margin-bottom: clamp(16px, 2vw, 32px);
  transition: box-shadow 0.5s;
  border-radius: 5px;
  font-size: clamp(10px, 1vw, 16px);
  &:hover {
    box-shadow: 5px 5px rgba($dark-2, 1);
  }
  img {
    border-radius: 5px;
  }
  > div {
    padding: 8px;
  }
  p:first-child {
    font-size: clamp(14px, 1vw, 20px);
  }
  p:nth-child(2) {
    font-size: clamp(16px, 1.5vw, 24px);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// input
.form-input {
  width: 100%;
  input,
  textarea {
    height: 50px;
    font-size: 16px;
    width: 100%;
    min-width: 200px;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: $light-3;
    color: $dark-3;
    border: 2px solid $dark-1;
    margin-top: 4px;
    transition: box-shadow 0.5s;
    &:focus,
    &:hover {
      box-shadow: 3px 3px $dark-3;
      outline: none;
    }
  }
  textarea {
    height: auto;
  }
  p:last-child {
    color: $danger;
    margin-top: 4px;
  }
  .btn-v1 {
    margin-top: 4px;
    margin-right: 16px;
  }
}

// drag n drop
.image-uploader {
  position: relative;
  width: 100%;
  height: clamp(125px, 20vw, 300px);
  background: $light-3;
  color: $light-1;
  input {
    // visibility: hidden;
    opacity: 0;
    // height: 100%;
    // width: 100%;
    display: none;
    color: $dark-2;
  }
  .upload-status {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $dark-3;
    transform: translate(-50%, -50%);
    text-align: center;
    &.error {
      color: $danger;
    }
  }
  &.supports-advance-upload {
    outline: 2px dashed $dark-1;
    outline-offset: -15px;
    background-color: $light-3;
  }
  &.is-dragover {
    background-color: $light-1;
  }
}

// forms
form {
  label {
    margin-bottom: clamp(16px, 2vw, 32px);
  }
}

// custom-modal
.custom-modal .modal-content {
  background-color: transparent;
  border: none;
  .wrapper {
    padding: clamp(16px, 2vw, 32px);
    border-radius: 16px;
    background: $light-2;
    color: $dark-3;
  }
  .modal-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
  }
  .modal-subtitle {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 8px;
  }
}

// details page
.details {
  .item-name {
    font-weight: bold;
    font-size: clamp(20px, 1.75vw, 28px);
  }
  td {
    vertical-align: top;
  }
  tr > td:first-child {
    color: $primary;
    padding-right: 16px;
  }
  .btn-v1 {
    position: sticky;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

// media queries
@media (max-width: 767px) {
  .post-card {
    > div {
      padding: 4px;
    }
  }
  ::-webkit-scrollbar {
    width: 0;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 230px;
    padding-right: 230px;
  }
}
