$primary: #0ae8ca;
$dark-1: #2d2d2d;
$dark-2: #202020;
$dark-3: #131313;
$dark-4: #000000;
$light-1: #ffffff;
$light-2: #f9f9f9;
$light-3: #ececec;
$light-4: #dfdfdf;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $light-4;
  color: $dark-3;

  p,
  figure {
    margin: 0;
  }
}

// button
.btn-v1 {
  background-color: $primary;
  color: $dark-3;
  border: none;
  height: 40px;
  min-width: 100px;
  padding: 0 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s,
    box-shadow 0.5s, transform 0.5s;

  &:hover {
    box-shadow: 2.5px 2.5px rgba($dark-3, 0.8);
  }
}

.post-card {
  cursor: pointer;
  margin-bottom: 32px;
  transition: box-shadow 0.5s;
  border-radius: 5px;
  &:hover {
    box-shadow: 5px 5px rgb(200, 200, 200);
  }
  img {
    border-radius: 5px;
  }
}

.file-uploader {
  position: relative;
  input {
    visibility: hidden;
    height: 0.1px;
    width: 0.1px;
  }
  label {
    width: 400px;
    height: 300px;
    background: $light-2;
    color: $light-1;
  }
  .upload-status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
