*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: CascadiaCode;
  src: url("../fonts/CascadiaCode.ttf");
}
::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}

body {
  background: #f9f9f9;
  color: #131313;
  font-family: CascadiaCode;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
body p,
body figure {
  margin: 0;
}

.btn-v1 {
  background-color: #0ae8ca;
  color: #131313;
  border: none;
  height: 40px;
  min-width: 100px;
  padding: 0 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s, box-shadow 0.5s, transform 0.5s;
}
.btn-v1:hover {
  box-shadow: 2.5px 2.5px #202020;
}
.btn-v1.inactive {
  background-color: #ececec;
}
.btn-v1.inactive:hover {
  background-color: #0ae8ca;
}
.btn-v1.disabled {
  background-color: #2d2d2d;
  color: #dfdfdf;
  cursor: default;
  pointer-events: none;
}

.post-card {
  background-color: #ececec;
  cursor: pointer;
  margin-bottom: clamp(16px, 2vw, 32px);
  transition: box-shadow 0.5s;
  border-radius: 5px;
  font-size: clamp(10px, 1vw, 16px);
}
.post-card:hover {
  box-shadow: 5px 5px #202020;
}
.post-card img {
  border-radius: 5px;
}
.post-card > div {
  padding: 8px;
}

.form-input {
  width: 100%;
}
.form-input input,
.form-input textarea {
  height: 50px;
  font-size: 16px;
  width: 100%;
  min-width: 200px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #ececec;
  color: #131313;
  border: 2px solid #2d2d2d;
  margin-top: 4px;
  transition: box-shadow 0.5s;
}
.form-input input:focus, .form-input input:hover,
.form-input textarea:focus,
.form-input textarea:hover {
  box-shadow: 3px 3px #131313;
  outline: none;
}
.form-input textarea {
  height: auto;
}
.form-input .btn-v1 {
  margin-top: 4px;
  margin-right: 16px;
}

header {
  background-color: #ececec;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 32px;
}
header span {
  cursor: pointer;
}
header span:hover {
  color: #0ae8ca;
}

.image-uploader {
  position: relative;
  width: 100%;
  height: clamp(100px, 30vh, 300px);
  background: #ececec;
  color: #ffffff;
}
.image-uploader input {
  opacity: 0;
  display: none;
  color: #202020;
}
.image-uploader .upload-status {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #131313;
  transform: translate(-50%, -50%);
}
.image-uploader.supports-advance-upload {
  outline: 2px dashed #2d2d2d;
  outline-offset: -15px;
  background-color: #ececec;
}
.image-uploader.is-dragover {
  background-color: #ffffff;
}

form label {
  margin-bottom: clamp(16px, 2vw, 32px);
}

.custom-modal .modal-content {
  background-color: transparent;
  border: none;
}
.custom-modal .modal-content .wrapper {
  padding: clamp(16px, 2vw, 32px);
  border-radius: 16px;
  background: #f9f9f9;
  color: #131313;
}
.custom-modal .modal-content .modal-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}
.custom-modal .modal-content .modal-subtitle {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 8px;
}

@media (max-width: 767px) {
  .post-card > div {
    padding: 4px;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 150px;
    padding-right: 150px;
  }
}

/*# sourceMappingURL=app.css.map */
