*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --primary: #0ae8ca;
  --dark-1: #2d2d2d;
  --dark-2: #202020;
  --dark-3: #131313;
  --dark-4: #000000;
  --light-1: #ffffff;
  --light-2: #f9f9f9;
  --light-3: #ececec;
  --light-4: #dfdfdf;
  --danger: #dc3545;
}

@font-face {
  font-family: CascadiaCode;
  src: url("../fonts/CascadiaCode.ttf");
}
/* Track */
/* Handle */
/* Handle on hover */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  background: var(--light-3);
  color: var(--dark-3);
  font-family: CascadiaCode;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
body p,
body figure {
  margin: 0;
}
body .header-space {
  margin-top: clamp(16px, 1.8vw, 32px);
}
body .footer-space {
  margin-bottom: 60px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}
.loader::after {
  background-color: var(--light-3);
  height: clamp(30px, 3vw, 50px);
  width: clamp(30px, 3vw, 50px);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid var(--dark-1);
  border-top: 2px solid var(--light-3);
  border-radius: 50%;
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
header {
  background-color: var(--light-2);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header section > div {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
header .site-logo {
  margin-bottom: -8px;
  height: 60%;
  cursor: pointer;
}
header .site-logo img {
  height: 100%;
  width: auto;
}
header span {
  cursor: pointer;
}
header span:hover, header span:focus {
  color: var(--primary);
}

.btn-v1 {
  background-color: var(--primary);
  color: var(--dark-3);
  border: none;
  height: 40px;
  min-width: 120px;
  padding: 0 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s, box-shadow 0.5s, transform 0.5s;
  outline: none;
  user-select: none;
}
.btn-v1:hover, .btn-v1:focus {
  box-shadow: 2.5px 2.5px var(--dark-2);
}
.btn-v1.inactive {
  background-color: var(--light-4);
}
.btn-v1.inactive:hover {
  background-color: var(--primary);
}
.btn-v1.disabled {
  background-color: var(--dark-1);
  color: var(--light-4);
  cursor: default;
  pointer-events: none;
}

.post-card {
  background-color: var(--light-2);
  cursor: pointer;
  margin-bottom: clamp(16px, 2vw, 32px);
  transition: box-shadow 0.5s;
  border-radius: 5px;
  font-size: clamp(10px, 1vw, 16px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.post-card:hover {
  box-shadow: 5px 5px var(--dark-2);
}
.post-card img {
  border-radius: 5px;
}
.post-card > div {
  padding: 8px;
}
.post-card p:first-child {
  font-size: clamp(12px, 1vw, 20px);
}
.post-card p:nth-child(2) {
  font-size: clamp(14px, 1.5vw, 24px);
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-input {
  width: 100%;
}
.form-input input,
.form-input textarea {
  height: 50px;
  font-size: 16px;
  width: 100%;
  min-width: 200px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: var(--light-2);
  color: var(--dark-3);
  border: 2px solid var(--dark-1);
  margin-top: 4px;
  transition: box-shadow 0.5s;
}
.form-input input:focus, .form-input input:hover,
.form-input textarea:focus,
.form-input textarea:hover {
  box-shadow: 3px 3px var(--dark-2);
  outline: none;
}
.form-input textarea {
  height: auto;
}
.form-input p:last-child {
  color: var(--danger);
  margin-top: 4px;
}
.form-input .btn-v1 {
  margin-top: 4px;
  margin-right: 16px;
}

.image-uploader {
  position: relative;
  width: 100%;
  height: clamp(125px, 20vw, 300px);
  background: var(--light-2);
  color: var(--light-4);
}
.image-uploader input {
  opacity: 0;
  display: none;
  color: var(--dark-2);
}
.image-uploader .upload-status {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--dark-3);
  transform: translate(-50%, -50%);
  text-align: center;
}
.image-uploader .upload-status.error {
  color: var(--danger);
}
.image-uploader.supports-advance-upload {
  outline: 2px dashed var(--dark-1);
  outline-offset: -15px;
  background-color: var(--light-2);
}
.image-uploader.is-dragover {
  background-color: var(--light-4);
}

form label {
  margin-bottom: clamp(16px, 2vw, 32px);
}

.custom-modal .modal-content {
  background-color: transparent;
  border: none;
}
.custom-modal .modal-content .wrapper {
  padding: clamp(16px, 2vw, 32px);
  border-radius: 16px;
  background: var(--light-3);
  color: var(--dark-3);
}
.custom-modal .modal-content .modal-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}
.custom-modal .modal-content .modal-subtitle {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 8px;
}

.details .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.details .item-name {
  font-weight: bold;
  font-size: clamp(18px, 1.75vw, 28px);
}
.details .item-age {
  font-size: clamp(14px, 1vw, 16px);
}
.details td {
  vertical-align: top;
  font-size: clamp(12px, 1.5vw, 16px);
}
.details tr > td:first-child {
  color: var(--primary);
  padding-right: 16px;
}

.back-arrow {
  margin-bottom: 0;
  margin-right: 8px;
  cursor: pointer;
}
.back-arrow img {
  width: 28px;
  transform: rotate(180deg);
}
.back-arrow.page {
  margin-bottom: 8px;
}

.chat-div {
  width: 100%;
  height: calc(100vh - 56px);
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--light-2);
  border-left: 1px solid var(--dark-1);
}
.chat-div section:nth-child(1) {
  background-color: var(--light-4);
  padding: 0 16px;
  height: clamp(50px, 4vw, 60px);
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  font-weight: bold;
  font-size: clamp(16px, 1.25vw, 20px);
}
.chat-div section:nth-child(2) {
  flex-grow: 1;
  padding: 16px;
  overflow-x: auto;
}
.chat-div section:nth-child(2) .chat-msg {
  margin-bottom: 8px;
}
.chat-div section:nth-child(2) .chat-msg span {
  background-color: var(--primary);
  color: var(--dark-3);
  padding: 0 10px;
  display: inline-flex;
  align-items: center;
  height: 32px;
  position: relative;
}
.chat-div section:nth-child(2) .chat-msg span::after {
  content: "";
  position: absolute;
  bottom: 0;
  border-top: 8px solid transparent;
}
.chat-div section:nth-child(2) .chat-msg.left {
  text-align: left;
}
.chat-div section:nth-child(2) .chat-msg.left span {
  border-radius: 6px 6px 6px 0;
}
.chat-div section:nth-child(2) .chat-msg.left span::after {
  border-right: 8px solid var(--primary);
  right: 100%;
}
.chat-div section:nth-child(2) .chat-msg.right {
  text-align: right;
}
.chat-div section:nth-child(2) .chat-msg.right span {
  border-radius: 6px 6px 0 6px;
}
.chat-div section:nth-child(2) .chat-msg.right span::after {
  border-left: 8px solid var(--primary);
  left: 100%;
}
.chat-div section:nth-child(3) {
  padding: 16px;
  background-color: var(--light-4);
}
.chat-div section:nth-child(3) > div {
  position: relative;
}
.chat-div section:nth-child(3) > div span {
  position: absolute;
  right: 0;
  top: 0;
  bottom: -5px;
  opacity: 0;
  transition: opacity 0.25s;
  display: flex;
  align-items: center;
  width: 30px;
  font-size: 28px;
  cursor: pointer;
  line-height: 1;
}
.chat-div section:nth-child(3) .has-msg span {
  opacity: 1;
}
.chat-div section:nth-child(3) input {
  background-color: var(--light-1);
}

.chat-row-group {
  background-color: var(--light-2);
  height: calc(100vh - 56px);
  overflow-x: auto;
}
.chat-row-group p {
  font-size: clamp(16px, 1.25vw, 20px);
  height: clamp(50px, 4vw, 60px);
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-top: 1px solid var(--dark-1);
}
.chat-row-group p:last-child {
  border-bottom: 1px solid var(--dark-1);
}
.chat-row-group p:hover, .chat-row-group p.active {
  background-color: var(--light-4);
}

.bottom-mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: var(--light-2);
  z-index: 1;
}
.bottom-mobile-nav figure {
  margin: 0;
}
.bottom-mobile-nav figure img {
  cursor: pointer;
  width: 20px;
  transition: transform 0.25s;
}
.bottom-mobile-nav figure img:active {
  transform: scale(0.8);
}

.centered-msg {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 767px) {
  .post-card > div {
    padding: 4px;
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  .chat-div {
    position: fixed;
    top: 56px;
    left: 100%;
    transition: opacity 1s, left 1s;
    height: calc(100vh - 112px);
  }
  .chat-div.active {
    left: 0;
  }
  .chat-div section:nth-child(1) {
    padding: 0 8px;
  }

  .chat-row-group {
    height: calc(100vh - 112px);
  }

  .settings p {
    height: 40px;
    border-bottom: 1px solid var(--dark-1);
    background-color: var(--light-2);
    padding: 0 16px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .settings p:active {
    background-color: var(--light-4);
  }
  .settings p.page::after {
    content: url("../images/menu-right.svg");
    position: absolute;
    right: 16px;
    top: 13px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 120px;
    padding-right: 120px;
  }
}

/*# sourceMappingURL=app.css.map */
